{% extends calista_theme %}

{%- block item -%}
<tr>
  <td>
    <a href="mailto:{{ item.email }}">
      {{ item.email }}
    </a>
  </td>
  <td>
    {{ item.target }}
  </td>
  <td>
    {{ item.created_at|date('y/m/d - H:i') }}
  </td>
  <td>
    {{ item.valid_until|date('y/m/d - H:i') }}
  </td>
  <td>
    {{ item.login_count }}
  </td>
  <td>
    {% if item.login_first %}
    {{ item.login_first|date('y/m/d - H:i') }}
    {% else %}
    <em>Jamais</em>
    {% endif %}
  </td>
  <td>
    {% if item.login_last %}
    {{ item.login_last|date('y/m/d - H:i') }}
    {% else %}
    <em>Jamais</em>
    {% endif %}
  </td>
  <td>
  <td>
    <a href="{{ path('form_admin_token_list', {view: item.token}) }}" class="btn">
      <i class="fas fa-eye"></i>
      <span class="sr-only">
        Voir le lien
      </span>
    </a>
  </td>
  </td>
</tr>
{%- endblock -%}

{% block item_list %}
<table class="table">
  <thead>
    <tr>
      <th>Adresse e-mail</th>
      <th>Formulaire cible</th>
      <th>Créé le</th>
      <th>Valide jusqu'à</th>
      <th>Nombre de connexions</th>
      <th>Première connexion</th>
      <th>Dernière connexion</th>
      <th title="Actions">
        <span class="sr-only">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    {{ block('item') }}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
