{% extends 'gestion/form/base.html.twig' %}

{% block title %}Ajouter une connexion{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="row">
  <div class="col">
    {{ form_row(form.email) }}
    {{ form_row(form.target) }}
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="btn btn-danger" href="{{ path('form_admin_token_list') }}">
      Annuler
    </a>
  </div>
  <div class="col-auto">
    {{ form_row(form.submit) }}
  </div>
</div>
{{ form_end(form) }}
{% endblock %}
