{% extends 'gestion/base.html.twig' %}

{% block title %}Edit {{ revision.title }}{% endblock %}

{% block navbar_left_custom %}
<li class="nav-item">
  <a class="nav-link" href="{{ path('page_admin_list') }}">
    <i class="fas fa-angle-left"></i>
    Pages
  </a>
</li>
{% endblock %}

{% block breadcrumb_content %}
<li class="breadcrumb-item"><a href="{{ path('page_admin_list') }}">Pages</a></li>
<li class="breadcrumb-item active" aria-current="page">Créer une nouvelle révision</li>
{% endblock %}

{% block navbar_right_custom %}
{# @todo access rights #}
<li class="nav-item">
  <a class="nav-link text-white btn btn-danger btn-sm" href="{{ path('page_admin_list') }}">Annuler</a>
</li>
{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="info-tab" data-toggle="tab" href="#edit-info" role="tab" aria-controls="profile" aria-selected="false">Information</a>
      <a class="nav-link active" id="texte-tab" data-toggle="tab" href="#edit-texte" role="tab" aria-controls="home" aria-selected="true">Texte</a>
      <a class="nav-link" id="intro-tab" data-toggle="tab" href="#edit-intro" role="tab" aria-controls="contact" aria-selected="false">Biblio</a>
    </div>
  </div>
  <div class="col">
    <div class="form-actions">
      {{ form_row(form.submit) }}
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane" id="edit-info" role="tabpanel" aria-labelledby="info-tab">
        {{ form_row(form.title) }}
        {{ form_row(form.teaser) }}
        {{ form_row(form.children_display) }}
      </div>
      <div class="tab-pane show active" id="edit-texte" role="tabpanel" aria-labelledby="texte-tab">
        {{ form_row(form.body) }}
      </div>
      <div class="tab-pane" id="edit-intro" role="tabpanel" aria-labelledby="intro-tab">
        {{ form_row(form.biblio) }}
      </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
