{% extends calista_theme %}

{%- block item -%}
{% set revision = item.revision %}
<tr>
  <td>
    {% if revision %}
    {{ item.title }}
    {% else %}
    <em>Nouvelle page sans titre</em>
    {% endif %}
    <br/>
    <small>
      <code>{{ item.pageId }}</code>
      {% if revision %}
      - Révision #{{ revision }}
      {% else %}
      - <em>Pas de révision</em>
      {% endif %}
    </small>
  </td>
  <td>{{ item.pageCreationDate|date('d/m/Y H:i') }}</td>
  <td>{{ item.creationDate|date('d/m/Y H:i') }}</td>
  <td>
    {% if revision %}
    <a href="{{ path('page', {id: item.pageId}) }}" class="btn btn-sm btn-info">
      Voir
    </a>
    {% endif %}
    <a href="{{ path('page_admin_append', {id: item.pageId}) }}" class="btn btn-sm btn-info">
      {% if revision %}Modifier{% else %}Créer{% endif %}
    </a>
    <a href="{{ path('page_admin_delete', {id: item.pageId}) }}" class="btn btn-sm btn-remove">
      <span class="sr-only">Supprimer</span>
    </a>
  </td>
</tr>
{%- endblock -%}

{% block item_list %}
<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th{% if query.sortField == 'pr.title' %} class="active"{% endif %}>
        {% with {label: "Titre", field: 'pr.title'} %}
        {{ block('sort_link') }}
        {% endwith %}
      </th>
      <th{% if query.sortField == 'p.created_at' %} class="active"{% endif %}>
        {% with {label: "Crée le", field: 'p.created_at'} %}
        {{ block('sort_link') }}
        {% endwith %}
      </th>
      <th{% if query.sortField == 'pr.created_at' %} class="active"{% endif %}>
        {% with {label: "Modifiée le", field: 'pr.created_at'} %}
        {{ block('sort_link') }}
        {% endwith %}
      </th>
      <th title="Actions">
        <span class="sr-only">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    {{ block('item') }}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
