<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{{ encore_entry_link_tags('app.client') }}
{% block asset_head_custom %}{% endblock %}
<title>{% block title %}Accueil{% endblock %} | Cabinet vétérinaire Saint Clément à Nantes</title>
</head>
<body>

<div id="site">

  {% block navbar_layout %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      {% block navbar_left %}
      <ul class="navbar-nav mr-auto">
        {% block navbar_left_custom %}
        {% endblock %}
      </ul>
      {% endblock %}
      {% block navbar_right %}
      <ul class="navbar-nav">
        {% block navbar_right_custom %}
        {% endblock %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('page_admin_list') }}">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('page_admin_route') }}">Arborescence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
      {% endblock %}
    </div>
  </nav>
  {% endblock %}

  <header class="container">
     <nav class="navbar navbar-expand-lg navbar-light" id="main-menu">
       <a class="navbar-brand" href="{{ path('index') }}">
         <img src="{{ asset('/img/logo-cabinet-notext.png') }}" alt="">
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav mr-auto">
        {% set menu = app_load_menu_top() %}
        {% for item in menu.children %}
        {% set pageId = item.pageId %}
        {% if pageId %}
          {% if false %} {# current #}
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }} <span class="sr-only">(current)</span></a>
          </li>
          {% elseif false %} {# active in trail #}
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }}</a>
          </li>
          {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ item.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main id="main">

  {% block breadcrumb %}
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">&nbsp;</li>
            {% block breadcrumb_content %}
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
            {% endblock %}
          </ol>
        </nav>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block layout %}
  <div class="container">
    {% block header %}
    <div class="row header-content">
      <div class="col-md-6 col-sm-12 col-title">
        <h1>{% block header_title %}Vétérinaire St Clément{% endblock %}</h1>
        <p>Au plus proche de vos compagnons.</p>
      </div>
      <div class="col col-intro">
        {% block header_text %}
        <address>
          <strong>Cabinet Vétérinaire St Clément</strong><br/>
          21 Avenue Chanzy<br/>
          44000 Nantes<br/>
          <strong><a href="tel:0228248896">Tél&nbsp;: 02&nbsp;28&nbsp;24&nbsp;88&nbsp;96</a></strong><br/>
          <strong><a href="mailto:veterinaire.saint.clement@gmail.com">veterinaire.saint.clement@gmail.com</a></strong>
        </address>
        {% endblock %}
      </div>
    </div>
    {% endblock %}

    {% block main_content %}
    <div class="main clearfix">
      <div class="row main-content">
        <div class="col col-md-9 col-sm-12">
          {% block body %}
          BODY
          {% endblock %}
        </div>
        <div class="col col-md-3 col-sm-12">
          {% block menu %}
          COuCOU
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}

  </main>
</div>

{{ encore_entry_script_tags('app.client') }}
{{ encore_entry_script_tags('app.gestion') }}
{% block asset_footer_custom %}{% endblock %}
</body>
</html>
