<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{{ encore_entry_link_tags('app.client') }}
{% block asset_head_custom %}{% endblock %}
<title>{% block title %}Accueil{% endblock %} | Cabinet vétérinaire Saint Clément à Nantes</title>
</head>
<body>

<div id="site">

  {% block navbar_layout %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      {% block navbar_left %}
      <ul class="navbar-nav mr-auto">
        {#
        <li class="nav-item active">
          <a class="nav-link" href="#">Pages <span class="sr-only">(current)</span></a>
        </li>
         #}
      </ul>
      {% endblock %}
      {% block navbar_right %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('page_admin_list') }}">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Arborescence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
      {% endblock %}
    </div>
  </nav>
  {% endblock %}

  <main id="main">

  {% block breadcrumb %}
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% block breadcrumb_content %}
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
            {% endblock %}
          </ol>
        </nav>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block layout %}
  <div class="container">
    {% block header %}
    <div class="row header-content">
      <div class="col-md-5 col-sm-12 col-title">
        <h1>{% block header_title %}{{ block('title') }}{% endblock %}</h1>
      </div>
      <div class="col col-intro">
        {% block header_text %}
        <p>
          Duis bibendum id nulla vitae ullamcorper. Proin posuere arcu vitae lorem lobortis,
          non sollicitudin odio sollicitudin. Donec ac eleifend arcu. Aenean risus metus, placerat
          id mauris vitae, faucibus rutrum urna. Nulla scelerisque mollis leo. Integer tempus
          suscipit leo quis dictum. Pellentesque consequat sapien a ipsum pellentesque bibendum.
        </p>
        {% endblock %}
      </div>
    </div>
    {% endblock %}

    {% block main_content %}
    <div class="main clearfix">
      <div class="row main-content">
        <div class="col col-md-9 col-sm-12">
          {% block body %}
          BODY
          {% endblock %}
        </div>
        <div class="col col-md-3 col-sm-12">
          {% block menu %}
          COuCOU
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}

  </main>
</div>

{{ encore_entry_script_tags('app.client') }}
{{ encore_entry_script_tags('app.gestion') }}
{% block asset_footer_custom %}{% endblock %}
</body>
</html>
