<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{{ encore_entry_link_tags('app.client') }}
{% block asset_head_custom %}{% endblock %}
<title>{% block title %}Accueil{% endblock %} | Cabinet vétérinaire Saint Clément à Nantes</title>
</head>
<body>
  {% block header_wrapper %}
  <header id="header">
    <nav class="navbar navbar-expand-lg navbar-light container" id="main-menu">
      <a class="navbar-brand" href="{{ path('index') }}" title="Vétérinaire St Clément Nantes - Retour à l'accueil">
        <img src="{{ asset('/img/logo-cabinet-notext.png') }}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-menu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav" id="header-menu">
        {% set menu = app_load_menu_top() %}
        {% for item in menu.children %}
        {% set pageId = item.pageId %}
        {% if pageId %}
        {% if false %} {# current #}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }} <span class="sr-only">(current)</span></a>
        </li>
        {% elseif false %} {# active in trail #}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ item.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <script>
    ;(() => {
      const header = document.querySelector('#header');
      const stick = header.offsetTop;
      window.onscroll = () => {
        if (window.pageYOffset > stick) {
          document.body.classList.add('fix');
        } else {
          document.body.classList.remove('fix');
        }
      };
    })();
  </script>
  {% endblock %}
  {% block navbar_layout %}
  {% endblock %}
  <main id="main" class="{% block main_class %}{% endblock %}">
    {% block breadcrumb %}
    <div class="container">
      <div class="row" id="breadcrumb-row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">&nbsp;</li>
              {% block breadcrumb_content %}
              <li class="breadcrumb-item active" aria-current="page">Accueil</li>
              {% endblock %}
            </ol>
          </nav>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block layout %}
    <div class="container">
      {% block main_content %}
      <div class="row" id="main-row">
        {% block header %}
        <div class="col-12 col-md-8">
          <h1 class="mb-3">{% block header_title %}Vétérinaire St Clément{% endblock %}</h1>
        </div>
        {% endblock header %}
        <div class="col-12 col-md-7 col-lg-8">
          {% block body %}
          BODY
          {% endblock %}
        </div>
        <div class="col-12 col-md-5 col-lg-4">
          {% block menu_top %}
          <div class="halside">
            <h2>Notre adresse</h2>
            <address>
              21 Avenue Chanzy<br/>
              44000 Nantes<br/>
            </address>
            <hr/>
            <a class="tel" href="tel:+33228248896" title="Appeler le cabinet vétérinaire Nantes Saint-Clément">
              Tél&puncsp;: 02&puncsp;28&puncsp;24&puncsp;88&puncsp;96
            </a>
            <hr/>
            <a href="mailto:veterinaire.saint.clement@gmail.com" title="Nous contacter par mail à l'adresse veterinaire.saint.clement@gmail.com">
              Nous contacter par mail
            </a>
          </div>
          {% endblock menu_top %}
          {% block menu %}
          {% endblock menu %}
        </div>
      </div>
      {% endblock main_content %}
    </div>
    {% endblock layout %}
  </main>
{{ encore_entry_script_tags('app.client') }}
{{ encore_entry_script_tags('app.gestion') }}
{% block asset_footer_custom %}{% endblock %}
</body>
</html>
