{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block navbar_right_custom %}
{# @todo access rights #}
<li class="nav-item">
  <a class="nav-link text-dark btn btn-warning btn-sm" href="{{ path('page_admin_append', {id: page.pageId}) }}">Modifier</a>
</li>
{% endblock %}

{% block header_title %}{{ page.title }}{% endblock %}

{% block menu %}
{{ app_menu_of(page.pageId) }}
{% endblock %}

{% block body %}
{% set data = page.data %}

{% if data.teaser is defined and data.teaser.value is defined %}
{{ data.teaser.value|raw }} {# @todo security #}
{% endif %}

{% if data.body is defined and data.body.value is defined %}
{{ data.body.value|raw }} {# @todo security #}
{% endif %}

<h2>Debug</h2>

<pre>
{{ dump(page.data) }}
</pre>
{% endblock %}
