{% extends 'base.html.twig' %}

{% block main_class %}with-adminbar{% endblock %}

{% block header_wrapper %}{% endblock %}

{% block navbar_left_custom %}
<li class="nav-item">
  <a class="nav-link" href="{{ path('index') }}">
    <i class="fas fa-angle-left"></i>
    Accueil
  </a>
</li>
{% endblock %}

{% block breadcrumb %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Administration</a></li>
          {% block breadcrumb_content %}
          {% endblock %}
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block layout %}
<div class="container">
  {% block main_content %}
  <div class="main clearfix">
    <div class="row main-content">
      <div class="col">
        {% block header_top %}
        {% endblock header_top %}

        {% block header %}
        <h1 class="mb-3">{% block header_title %}{{ block('title') }}{% endblock %}</h1>
        {% endblock header %}

        {% block flash_messages %}
        <div class="row">
          <div class="col">
            {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
              {% for message in messages %}
              <p class="mb-0">{{ message|raw }}</p>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endblock %}

        {% block body %}
        BODY
        {% endblock body %}
      </div>
    </div>
  </div>
  {% endblock main_content %}
</div>
{% endblock layout %}

{% block asset_footer_gestion %}
{% endblock %}
