<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{{ encore_entry_link_tags('app.client') }}
{% block asset_head_custom %}{% endblock %}
<title>{% block title %}Accueil{% endblock %} | Cabinet vétérinaire Saint Clément à Nantes</title>
</head>
<body>
  {% if is_granted("ROLE_CHEF") %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container p-0">
      {% block navbar_left %}
      <ul class="navbar-nav mr-auto">
        {% block navbar_left_custom %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_index') }}">
            <i class="fas fa-wrench"></i>
            Administration
          </a>
        </li>
        {% endblock %}
      </ul>
      {% endblock %}
      {% block navbar_right %}
      <ul class="navbar-nav">
        {% block navbar_right_custom %}{% endblock %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="admin-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Aller à
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="admin-menu">
            <a class="dropdown-item" href="{{ path('page_admin_list') }}">
              <i class="fas fa-list"></i>
              Pages
            </a>
            <a class="dropdown-item" href="{{ path('page_admin_route') }}">
              <i class="fas fa-tree"></i>
              Arborescence
            </a>
            <a class="dropdown-item" href="{{ path('form_admin_token_list') }}">
              <i class="fas fa-list"></i>
              Formulaires
            </a>
            {% if app.user %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('security_logout') }}">
              <i class="fas fa-sign-out-alt"></i>
              Déconnexion
            </a>
            {% endif %}
          </div>
        </li>
      </ul>
      </ul>
      {% endblock %}
      </div>
    </nav>
  {% endif %}
  {% block header_wrapper %}
  <header id="header">
    {# This one is a block, and will keep its position #}
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" id="header-top">
        <div class="col col-auto">
          <a class="navbar-brand" href="{{ path('index') }}" title="Vétérinaire St Clément Nantes - Retour à l'accueil">
            <img src="{{ asset('/img/logo-cabinet-notext.png') }}" alt="">
          </a>
        </div>
        <div class="col mr-auto site-title">
          Vétérinaire St Clément Nantes
        </div>
        <ul class="navbar-nav col-auto">
          <li class="nav-item">
            <a href="https://vetolib.vet/clinique-veterinaire/nantes/cabinet-veterinaire-st-clement-nantes" class="btn btn-success">
              Prendre <strong>RDV en ligne</strong>
            </a>
          </li>
          <li class="nav-item">
            <a href="tel:+33228248896 " class="btn btn-warning">
              Appeler au <strong>02 28 24 88 96</strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {# This one will be sticky (not fixed) and always remain on the screen #}
    <div id="main-menu-container">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" id="main-menu">
          <div class="col">
            <a class="navbar-brand" href="{{ path('index') }}" title="Vétérinaire St Clément Nantes - Retour à l'accueil">
              <img src="{{ asset('/img/logo-cabinet-notext.png') }}" alt="">
            </a>
          </div>
          {#
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-menu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           #}
          <ul class="navbar-nav col-auto" id="header-menu">
            {% set menu = app_load_menu_top() %}
            {% for item in menu.children %}
            {% set pageId = item.pageId %}
            {% if pageId %}
            {% if false %} {# current #}
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }} <span class="sr-only">(current)</span></a>
            </li>
            {% elseif false %} {# active in trail #}
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('page', {id: pageId}) }}">{{ item.title }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#">{{ item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="col"></div> {# Centers menu #}
        </nav>
      </div>
    </div>
  </header>
  <script>
    ;(() => {
      const mainMenu = document.querySelector('#main-menu');
      const stick = mainMenu.offsetTop;
      window.onscroll = () => {
        if (window.pageYOffset >= stick) {
          document.body.classList.add('fix');
        } else {
          document.body.classList.remove('fix');
        }
      };
    })();
  </script>
  {% endblock %}
  {% block navbar_layout %}
  {% endblock %}
  <main id="main" class="{% block main_class %}{% endblock %}">
    {% block main_top %}
    {% endblock %}
    {% block breadcrumb %}
    <div class="container">
      <div class="row" id="breadcrumb-row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">&nbsp;</li>
              {% block breadcrumb_content %}
              <li class="breadcrumb-item active" aria-current="page">Accueil</li>
              {% endblock %}
            </ol>
          </nav>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block layout %}
    <div class="container">
      {% block main_content %}
      <div class="row" id="main-row">
        {% block header %}
        <div class="col-12 col-md-8">
          <h1 class="mb-3">{% block header_title %}Vétérinaire St Clément{% endblock %}</h1>
        </div>
        {% endblock header %}
        <div class="col">
          {% block body %}
          BODY
          {% endblock %}
        </div>
        {% block sidebar %}
        <div class="col-12 col-md-5 col-lg-4">
          {% block menu_top %}
          <div class="halside">
            <h2>Notre adresse</h2>
            <address>
              21 Avenue Chanzy<br/>
              44000 Nantes<br/>
            </address>
            <hr/>
            <a class="tel" href="tel:+33228248896" title="Appeler le cabinet vétérinaire Nantes Saint-Clément">
              Tél&puncsp;: 02&puncsp;28&puncsp;24&puncsp;88&puncsp;96
            </a>
            <hr/>
            <a href="mailto:veterinaire.saint.clement@gmail.com" title="Nous contacter par mail à l'adresse veterinaire.saint.clement@gmail.com">
              Nous contacter par mail
            </a>
          </div>
          {% endblock menu_top %}
          {% block menu %}
          {% endblock menu %}
        </div>
        {% endblock sidebar %}
      </div>
      {% endblock main_content %}
    </div>
    {% endblock layout %}
  </main>
{{ encore_entry_script_tags('app.client') }}
{% if is_granted("ROLE_CHEF") %}
{{ encore_entry_script_tags('app.gestion') }}
{% endif %}
{% block asset_footer_gestion %}{% endblock %}
{% block asset_footer_custom %}{% endblock %}
</body>
</html>
